/* src/styles/theme.css */
[data-theme="dark"] {
  --primary-color: #333;
  --secondary-color: #6c757d;
  --background-color: #121212;
  --text-color: #f0f0f0;
}

[data-theme="light"] {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f0f0f0;
  --text-color: #333;
}